DJANGO_DEBUG=False
DJANGO_SECRET_KEY=django-insecure-^=mrw%4d4_0!5taxt9x37+n4^2z+ejr5mhcp4&7y=@u0j#sdc5
DJANGO_ALLOWED_HOSTS=kanban-board-app-9ip9.onrender.com
DJANGO_CORS_ALLOWED_ORIGINS=https://kanban-board-app-olive.vercel.app
DJANGO_CSRF_TRUSTED_ORIGINS=https://kanban-board-app-olive.vercel.app
